%section.bg-alt
  .container
    %h2.text-center.pb-2
    .row.wow.slideInUp
      .col-lg-6.col-12.pb-3
        .card.h-100
          .card-img-top
          .card-body
            %h1 Login
            = simple_form_for :user, url: login_path, defaults: {input_html: {class: 'form-control'},label_html: {class: 'sr-only form-control-label'}, wrapper_html: {class: 'mx-auto col-sm-10'}} do |f|
              .form-group
                = f.input :username, placeholder: 'username'
              .form-group
                = f.input :password, placeholder: 'password'
              .form-group
                .mx-auto.col-sm-10
                  .checkbox.form-control.form-control-sm.text-center.small
                    %label
                      = check_box_tag :remember_me, 1, params[:remember_me], checked: false    
                      remember me
              .form-group
                .mx-auto.col-sm-10.pb-3.pt-2
                  = f.button :submit, 'Sign In', class: 'btn btn-outline-secondary btn-lg btn-block'
            = form_tag '/login', role: :form, id: 'login' do
              .form-group
                %label.sr-only.form-control-label{for: "inputEmailForm"} Email
                .mx-auto.col-sm-10
                  %input#inputEmailForm.form-control{placeholder: "email", required: "", type: "text"}/
              .form-group
                %label.sr-only.form-control-label{for: "inputPasswordForm"} Password
                .mx-auto.col-sm-10
                  %input#inputPasswordForm.form-control{placeholder: "password", required: "", type: "text"}/
              .form-group
                .mx-auto.col-sm-10
                  .checkbox.form-control.form-control-sm.text-center.small
                    %label
                      = check_box_tag :remember_me, 1, params[:remember_me], checked: false    
                      remember me
              .form-group
                .mx-auto.col-sm-10.pb-3.pt-2
                  = button_tag 'Sign-In', class: 'btn btn-outline-secondary btn-lg btn-block'
            = render partial: 'social_media_links'
      .col-lg-6.col-12.pb-3
        .card.h-100
          .card-img-top
          .card-body
            %h1 Sign-up
            = render partial: 'social_media_links'
            = simple_form_for @user, defaults: {input_html: {class: 'form-control'},label_html: {class: 'sr-only form-control-label'}, wrapper_html: {class: 'mx-auto col-sm-10'}} do |f|
              .form-group
                = f.input :username, placeholder: 'username'
              .form-group
                = f.input :email, as: :email, placeholder: 'email'
              .form-group
                = f.input :password, as: :password, placeholder: 'password'
              .form-group
                = f.input :password_confirmation, as: :password, placeholder: 'verify password'
              .form-group
                .mx-auto.col-sm-10.pb-3.pt-2
                  = button_tag 'Register', class: 'btn btn-outline-secondary btn-lg btn-block'
    %hr/