%section
  .container
    .row
      .col-md-12
        = simple_form_for @phrase do |f|
          = f.input :label, placeholder: 'My New Phrase', label: 'Label:'
          = f.input :abbrev, label: 'Abbreviation:', placeholder: '.newphrase'
          #quill-editor
          = f.input :text, placeholder: 'this should be hidden', label: false, wrapper_html: {class: 'hidden'}
          = f.button :submit