%section
  .container
    .row
      .col-md-12
        = simple_form_for @phrase do |f|
          = f.input :label, placeholder: 'My New Phrase', label: 'Label:'
          = f.input :abbrev, label: 'Abbreviation:', placeholder: '.newphrase'
          = f.input :text, wrapper_html: { class: 'quill_container' }, label: false
          = f.button :submit