!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %title
      = yield(:title) + title_backup
    = csrf_meta_tags
    %meta{content: "A modular template", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.preload
    = render 'layouts/nav'
    = yield
    -# %section
    -#   .container
    -#     .row
    -#       .col-12
    -#         = yield
    -#         %h2 Just Add Content
    -#         %p.lead.py-2
    -#           Hypothetically some content could go here.
    = render 'layouts/footer'
    / scripts loaded here
    = javascript_include_tag 'application_late', 'data-turbolinks-track': 'reload'
